.footer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px;
    background-color: #084785;
    color: white;
    font-weight: bold;
  }
  
  .logos {
    display: flex;
    align-items: center;
  }
  
  .logos img {
    height: 50px;
    margin-right: 10px;
  }
  
  .logos div {
    font-size: 1.2rem;
    font-weight: bold;
  }
  
  .contact-info {
    display: flex;
    align-items: center;
    margin-top: 10px;
  }
  
  .contact-info p {
    margin: 0;
    margin-left: 10px;
    font-size: 1.2rem;
  }
  
  .social-icons {
    display: flex;
    align-items: center;
    margin-top: 10px;
  }
  
  .social-icons svg {
    margin-right: 10px;
  }
  
  /* Media queries */
  
  @media (max-width: 768px) {
    .logos {
      flex-basis: 100%;
      margin-bottom: 10px;
    }
  
    .logos div {
      font-size: 1rem;
    }
  
    .contact-info, .social-icons {
      flex-basis: 50%;
    }
  
    .social-icons {
      justify-content: flex-end;
    }
  
    .contact-info p, .social-icons svg {
      display: none;
    }
  
    .contact-info:before {
      content: "\f095";
      font-family: FontAwesome;
      font-size: 1.2rem;
      margin-right: 10px;
    }
  
    .contact-info a:before {
      content: "\f003";
      font-family: FontAwesome;
      font-size: 1.2rem;
      margin-right: 10px;
    }
  }
  
  @media (max-width: 576px) {
    .logos div {
      display: none;
    }
  
    .social-icons {
      flex-basis: 100%;
      justify-content: center;
    }
  
    .social-icons svg {
      margin: 0 10px;
    }
  }
  